# Generated output
output/

# Environment variables
.env

# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache and artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# IDE & Editor folders
.vscode/
.idea/

# OS-specific files (macOS)
.DS_Store

# Log files
*.log
